.about {
    font-family: 'Open Sans', sans-serif;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 50px;

        @media screen and (max-width: 991.98px) {
            padding-right: 30px;
            padding-left: 30px;
        }
    }

    &__headline {
        margin-bottom: 55px;

        @media screen and (max-width: 575.98px) {
            margin-bottom: 30px;
        }
    }

    &__image {
        @media screen and (max-width: 991.98px) {
            margin: 0 auto;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;

        @media screen and (max-width: 991.98px) {
            grid-template-columns: 1fr;
        }
    }

    &__text {
        font-size: 1.5rem;
        line-height: 3.125rem;
        font-weight: 300;

        &:first-of-type {
            margin-bottom: 70px;

            @media screen and (max-width: 575.98px) {
                margin-bottom: 0;
            }
        }
        
        @media screen and (max-width: 575.98px) {
           font-size: 1.125rem;

           &:nth-of-type(2) {
               display: none;
           }
        }
    }

    &__name {
        font-size: 2.25rem;
        margin-top: 30px;

        @media screen and (max-width: 575.98px) {
            font-size: 1.125rem;
        }
    }
}